:host {
  display: grid;
  padding: 16px 20px;
  grid-template-rows: 1fr min-content;
  position: relative;
}

.messages-wrapper {
  display: grid;
  grid-gap: 12px;

  .message-day {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

}

.message-input {
  position: sticky;
  bottom: 10px;
}
