@if (dailyMessage().messages; as messages) { @for (message of messages; track
message.id) {
<div
  [ngClass]="{
    'is-mine': message.isMine,
    'message-container': !message.isMine
  }"
>
  <app-avatar-circle
    class="size32"
    [avatarUrl]="message.user?.avatarUrl"
  ></app-avatar-circle>
  <strong class="medium-text mb8">
    {{ message.user?.firstName }} {{ message.user?.lastName }}
    {{ message.createdAt | date : 'HH:mm' }}
  </strong>
  <div class="message-text medium-text">
    {{ message.text }}
  </div>
</div>
} }
